.mainHomeCardComponents{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-image: url('../images/b1.jpg');
    background-size: cover;
    background-position: center center; */
}
.categoriesContainer{
    /* border: 1px solid rgba(0,0,0,0.05); */
    width: 30vw;
    height: 240px;
    margin: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
}

.categoriesContainer:hover{
    transform: scale(1.1);
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 4px 8px 8px rgba(0,0,0,0.25);
}
.categoriesContainer:hover .category-container{
    background-color: rgba(255,255,255,0.75);
    transition: all 1s ease;
}
.categoriesContainer:hover .category-container p{
    border-radius: 5px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    transition: all 0.2s ease;
}
.categoriesContainer:hover .categoriesContainer{
    background-size: 120%;
}
.category-container{
    border: 1px solid rgba(0,0,0,0.15);
    padding: 1rem;
    background-color: rgba(255,255,255,0.5);
}

.category-container p{
    border: 1px solid rgba(0,0,0,0.25);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.firstcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}